body {
    font-family: "Open Sans", sans-serif;
    max-width: 720px;
    margin:auto;
}

/*
* TYPOGRAPHY
*/

h2 {
    font-size: 200%;
    font-weight: 400;
}

h3 {
    font-size: 110%;
    font-weight: 400;
}

.card-description {
    font-size: 70%;
    line-height: 1.5;
}

.card-description a { 
    line-height: 1.5;
    color: #505050;
    border: 1px solid grey;
    border-radius: 16px;
    padding: 4px 20px;
}


/* 
* CUSTOM CLASSES
*/


.header-logo {
    -webkit-box-shadow: 0px -35px 26px 37px rgba(143,143,143,0.36);
    -moz-box-shadow: 0px -35px 26px 37px rgba(143,143,143,0.36);
    box-shadow: 0px -35px 26px 37px rgba(143,143,143,0.36);
}

.margin-bot {
    margin-bottom: 4vh;
}

.margin-top {
    margin-top: 4vh;
}

.margin-bot-sm {
    margin-bottom: 2vh;
}

.margin-top-sm {
    margin-top: 2vh;
}

.row {
    text-align: center;
}

.left-align {
    text-align: left;
}

.main-content {
    margin-top: 10px;
}

.img-fluid {
    border-radius: 50%;
    max-width: 80px;
}

.custom-img {
    border-radius: 50%;
    max-width: 80px;
    border: 1px solid #D9D9D9;
}

.bg-grey {
    margin-left: 0vw;
    background-color: #D9D9D9;
    border-bottom-left-radius: 45px;
    border-top-left-radius: 45px;
}

.logo{
    max-width: 30%;
    height: auto;
}

.custom-btn {
    background: none;
    padding: 0vw 4vw;
    font-size: 10px;     
    color: #000;
    border: 1px solid #000;
    border-radius: 3px;
}
